@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: local('Martel'), local('Martel-Regular'), url(https://fonts.gstatic.com/s/martel/v1/UqHF0_T0x2A12j9bgYu4DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  src: local('Martel Heavy'), local('Martel-Heavy'), url(https://fonts.gstatic.com/s/martel/v1/6qlcTvSyKvyk4OhhaCbMtltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: local('Muli Italic'), local('Muli-Italic'), url(https://fonts.gstatic.com/s/muli/v10/RGzT9VzvdKojoeSA3nPC6Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli Regular'), local('Muli-Regular'), url(https://fonts.gstatic.com/s/muli/v10/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: local('Muli Bold'), local('Muli-Bold'), url(https://fonts.gstatic.com/s/muli/v10/WQIsflEaABH2ETkzZKPChw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  color: hsla(0, 0%, 25%, 1);
}


/* ------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background-color: hsla(56, 59%, 95%, 0.9);
}

h1 {
  font-size: 2.5rem;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

h2 {
  font-size: 2rem;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 1.5rem;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.3);
}

h4 {
  font-size: 1.25rem;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 900;
  margin: 0.5rem 0;
}

p {
  line-height: 1.5rem;
  font-family: 'Muli', sans-serif;
  font-style: normal;
}

i {
  font-style: italic;
}

span :not(header), .textbox span {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
}


/* -------------------- Header -------------------- */

header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: hsla(56, 59%, 95%, 1);
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0 7px 6px -6px rgba(0, 0, 0, 0.75);
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo span:first-of-type {
  font-weight: 900;
}


/* ------------------transitioning menu bar! -------- */

.main {
  justify-content: flex-end;
  margin-right: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  height: 4rem;
  overflow: hidden;
  display: flex;
}

.navlink {
  position: relative;
  overflow: hidden;
  height: 4rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .navlink:last-child {
  margin-right: 0;
}

.navlink .linkbox {
  transition: all 0.3s ease-in-out;
}

.linktxt {
  padding: 0;
  margin: 0;
}

.navlink:hover .linkbox {
  margin-top: 2rem;
  /* of box height */
  color: hsla(268, 32%, 30%, 1);
  transition: all 0.3s ease-in-out;
}

.navlink .iconbox {
  height: 4rem;
  position: absolute;
  margin-top: -4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.navlink:hover .iconbox {
  margin-top: -0.5rem;
  transition: all 0.3s ease-in-out;
}

.iconbox img {
  height: 1.5rem;
  width: auto;
}


/* ---- First section and call to action ---- */

.section-div.one {
  margin-top: 4rem;
}

.section-div {
  display: inline-flex;
  width: 100%;
}

.section-div-4 {
  display: inline-flex;
  padding-left: 1.5rem;
}

.section {
  width: 100%;
  padding: 2rem 0 2rem 1.5rem;
}

.section-heading {
  text-align: center;
  margin: 0;
}

.cream {
  background-color: hsla(56, 59%, 95%, 0.9);
}

.flex {
  display: flex;
}

.leftside {
  width: 60%;
  height: auto;
  align-items: flex-start;
}

.media-container {
  width: 100%;
}

.media-container img, .media-container video {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
}

.rightside {
  display: flex;
  width: 40%;
  margin-left: 1.5rem;
  flex-direction: column;
  justify-content: flex-start;
}

.banner {
  justify-content: center;
  color: hsla(56, 59%, 95%, 0.97);
}

.textbox {
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.last h3 {
  margin: 1.5rem 0 0;
}

.last p {
  margin-top: 0.5rem;
}

.first h1, .second h2 {
  margin: 2rem 0 0;
}

.third h1, .fourth h1 {
  margin: 2rem 0;
}

.first p, .second p {
  margin: 0;
  padding: 1.5rem 0 2rem;
}

.button {
  /*  width: 60%;
  padding: 0.5rem 0;
  text-align: center;
  background-color: hsla(0, 0%, 25%, 1); */
  text-align: center;
  display: inline-block;
  width: 40%;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(to top, hsla(0, 0%, 10%, 0.1), hsla(56, 59%, 100%, 0.4));
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 0%, 0.09), inset 0 1px 0 hsla(0, 0%, 100%, 0.04), 0 0 1px hsla(0, 0%, 0%, 0.3), 0 0 10px hsla(0, 0%, 0%, 0.1);
  border-radius: 50px;
  background-size: auto 200%;
  background-position: 0 100%;
  transition: background-position 0.15s;
}

.button:hover {
  background-position: 0 80%;
  background-image: linear-gradient(to top, hsla(0, 0%, 10%, .01), hsla(56, 59%, 95%, .4));
  transition: all 0.3s;
}

.button:active {
  background-position: 0 40%;
  transform: translateY(3px);
  transition: all 0.3s;
}

.sliders {
  align-content: stretch;
}

.slidercontent {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: visible;
}

.slidercontent:hover {
  background-color: hsla(268, 32%, 30%, 1);
}

.slidercontent .photo-mobile {
  display: none;
}

.slidercontent .photo {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.slidercontent .initial {
  padding-top: 1rem;
}

.slidercontent .photo img {
  width: 100%;
  height: auto;
  display: flex;
  -webkit-box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
}

.slidercontent .text {
  width: 65%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.text * {
  margin: 0.5rem 0;
}

.sectionclr {
  background-color: hsla(268, 32%, 30%, 1);
}

.catalogue {
  flex-wrap: wrap;
  margin: 0 4.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.course {
  background-color: hsla(56, 59%, 95%, 1);
  flex-direction: column;
  width: 25%;
  margin: 1rem;
  -webkit-box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 8px -6px rgba(0, 0, 0, 0.75);
}

.container-small {
  overflow: hidden;
}

.course .description {
  margin: 1rem 1rem 1.5rem;
  align-items: flex-start;
}

.description h3 {
  margin: 0;
}

.description p:first-of-type {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
}

.description p {
  color: hsla(268, 32%, 30%, 1);
  margin: 0.5rem 0 0;
}

.section4 {
  padding-bottom: 2rem;
  background-color: hsla(56, 59%, 95%, 0.9);
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 0.8rem;
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
}

.copyright {
  padding-left: 1.5rem;
}
