html {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
}


/* ------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background-color: WhiteSmoke;
}


/* -------------------- Header -------------------- */

header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: WhiteSmoke;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #333;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo span:first-of-type {
  font-weight: bold;
}


/* ------------------transitioning menu bar! -------- */


/* -- header media queries -- */

.main {
  justify-content: flex-end;
  margin-right: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  height: 4rem;
  overflow: hidden;
  display: flex;
}

.navlink {
  position: relative;
  overflow: hidden;
  height: 4rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlink .linkbox {
  transition: all 0.3s ease-in-out;
}

.linktxt {
  padding: 0;
  margin: 0;
}

.navlink:hover .linkbox {
  margin-top: 2rem;
  /* of box height */
  color: purple;
  transition: all 0.3s ease-in-out;
}

.navlink .iconbox {
  height: 4rem;
  position: absolute;
  margin-top: -4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.navlink:hover .iconbox {
  margin-top: -0.5rem;
  transition: all 0.3s ease-in-out;
}

.iconbox img {
  height: 1.5rem;
  width: auto;
}


/* ---- First section and call to action ---- */

.section-one {
  margin-top: 4rem;
  display: inline-flex;
  width: 100%;
}

.section {
  width: 100%;
  padding: 2rem 1.5rem;
}

.flex {
  display: flex;
}

.leftside {
  width: 60%;
  height: auto;
  margin-right: 2rem;
  align-items: flex-start;
}

.media-container {
  width: 100%;
}

.media-container img,
.media-container video {
  width: 100%;
  height: auto;
}

.rightside {
  width: 40%;
  margin-left: 2.5rem;
}

.rightside, .textbox {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.textbox {
  padding-bottom: 1rem;
}

.button {
  width: 90%;
  padding: 0.5rem 0;
  background: #2c3e50 50%;
}


/* .section2 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 2rem 0;
}

.section2-left {
  width: 60%;
  display: flex;
  border: 5px solid pink;
 }

 .section2-leftbox {
   width: 100%;
  margin: 2rem 1.5rem;
 }

.section2-img {
  width: 100%;
  height: auto;
  display: inline-block;

}

.section2-img img {
  width: 100%;
  height: auto;
}

*/

.sliders {
  align-content: stretch;
  padding-top: 1rem;
  background-color: whitesmoke;
}

.slidercontent {
  width: 100%;
  border: 1px solid green;
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
}

.slidercontent .photo-mobile {
  display: none;
}

.slidercontent .photo {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.slidercontent .photo img {
  width: 100%;
  height: auto;
  display: flex;
}

.slidercontent .text {
  border: 1px solid purple;
  width: 65%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

h3, p, span {
  border: 1px dashed black;
  margin: 0;
  padding: 0;
}

.section-three {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.section-heading {
  background-color: #EAEBEC;
  display: block;
  text-align: center;
  padding: 2rem 0;
}

.catalogue {
  flex-wrap: wrap;
  margin: 0 4.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.course {
  background-color: white;
  flex-direction: column;
  width: 25%;
  margin: 1rem;
}

.container-small {
  overflow: hidden;
}


/*Text Formatting*/

.description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.description h4, .description p {
  color: #9A9A9A
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid #D8D8D8;
  padding-top: 2rem;
}

.copyright {
  padding-left: 1.5rem;
}
